package {{packageName}}.service;

import {{packageName}}.entity.{{entityName}};
import com.baomidou.mybatisplus.extension.service.IService;

/**
 * <p>
 * {{tableComment}} 服务类
 * </p>
 *
 * @author {{author}}
 * @since {{date}}
 */
public interface I{{entityName}}Service extends IService<{{entityName}}> {

}